<div class="col-xl-4 col-lg-6">
    <div class="bg-light rounded overflow-hidden">
        <div class="p-4">
            <a class="h3 d-block mb-3" href=""> {{ concat rating ' / 5' }} </a>
            <p> {{ comment }} </p>
        </div>
        <div class="d-flex justify-content-between border-top p-4">
            <div class="d-flex align-items-center">
                <img class="rounded-circle me-2" src="static/picture/user.jpg" width="25" height="25"
                    alt="">
                <small> {{ username }} </small>
            </div>
            <div class="d-flex align-items-center">
                <small class="ms-3"><i class="far fa-eye text-primary me-1"></i>842</small>
                <small class="ms-3"><i class="far fa-comment text-primary me-1"></i>5</small>
            </div>
        </div>
    </div>
</div>