<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">



    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="/static/css/css2.css" rel="stylesheet">

    <link href="/static/css/all.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    {{{body}}}
</body>

</html>