<div class="container-fluid sticky-top bg-white shadow-sm mb-5">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a href="home.html" class="navbar-brand">
                <h1 class="m-0 text-primary"></i>RateMyCourses</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="home" class="nav-item nav-link">Home</a>
                    <a href="courses" class="nav-item nav-link">Courses</a>
                    <a href="professors" class="nav-item nav-link active">Professors</a>
                    <a href="login.html" class="nav-item nav-link">Sign in</a>
                    <a href="account.html" class="nav-item nav-link">Account</a>
                    <a href="backstage" class="nav-item nav-link">Backstage</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Other Templates</a>
                        <div class="dropdown-menu m-0">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="detail.html" class="dropdown-item">Blog Detail</a>
                            <a href="team.html" class="dropdown-item">The Team</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="search.html" class="dropdown-item">Search</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>





<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Find A Professor</h5>
            <h1 class="display-4 mb-4">Find your interested professor</h1>
            <h5 class="fw-normal">Duo ipsum erat stet dolor sea ut nonumy tempor. Tempor duo lorem eos sit sed ipsum
                takimata ipsum sit est. Ipsum ea voluptua ipsum sit justo</h5>
        </div>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <select class="form-select border-primary w-25" style="height: 60px;" id="select-departments">
                    <option selected="">Department</option>
                    <option value="1">Department 1</option>
                    <option value="2">Department 2</option>
                    <option value="3">Department 3</option>
                </select>
                <input type="text" class="form-control border-primary w-50" placeholder="Keyword">
                <button class="btn btn-dark border-0 w-25">Search</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5" id="display-professors">
            <div class="col-12 text-center">
                <button class="btn btn-primary py-3 px-5">Load More</button>
            </div>
        </div>
    </div>
</div>